{% extends "./base.html"%}

{% block title %}
Create Link
{% endblock %}

{% block content %}

    <form action="{% url 'antidas:tag_create' %}" method="post">
        {% csrf_token %}
            {% for link in links %}
                <div class="form-group">
                    {% if link.errors %}
                        <div class="alert alert-danger">
                            {{ link.errors }}
                        </div>
                    {% endif %}
                {{ link.label }}
                {{ link }}
                </div>
            {% endfor %}

        <button type="submit" class="btn btn-primary">Reduce</button>

    </form>


{% endblock %}