{% extends "./base.html"%}
{% block style %}
{% endblock %}
{% block title %}
  TEST
{% endblock %}
{% block content %}
  <div class="container mt-2"> 
    <form action="{% url 'antidas:test' %}" method="post">
      {% csrf_token %}
      {% for link in links %}
          <div class="form-group">
              {% if link.errors %}
                  <div class="alert alert-danger">
                      {{ link.errors }}
                  </div>
              {% endif %}
          {{ link.label }}
          {{ link }}
          </div>
      {% endfor %}

      <button type="submit" class="btn btn-primary">Reduce</button>

  </form>
      
    </div>
    <div class="container-fluid mt-4 ">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Full link</th>
            <th scope="col">Short link</th>
            <th scope="col">Date create</th>
            <th scope="col">clics</th>
          </tr>
        </thead>
        <tbody>
          {% for qery in qeryset %}
          <tr>
            <th scope="row">{{ qery.id }}</th>
            <td>
              <a  href="{{ qery.full_link }}" >
                  {{ qery.full_link }}
              </a>
            </td>
            <td>
              <a href="{{ qery }}">
                {{ qery }}
              </a>
            </td>
            <td>{{ qery.date_create }}</td>
            <td>{{ qery.number_of_clicks }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>  
  </div>
{% endblock %}
