antida/__pycache__/__init__.cpython-3antida/__pycache__/__init__.cpython-38.pyc
antida/__pycache__/settings.cpython-38.pyc
antida/__pycache__/urls.cpython-38.pyc
antida/__pycache__/wsgi.cpython-38.pyc
antidas/__pycache__/__init__.cpython-38.pyc
antidas/__pycache__/admin.cpython-38.pyc
antidas/__pycache__/apps.cpython-38.pyc
antidas/__pycache__/models.cpython-38.pyc
antidas/__pycache__/urls.cpython-38.pyc
antidas/__pycache__/views.cpython-38.pyc
antidas/migrations/__pycache__/__init__.cpython-38.pyc
antidas/migrations/0001_initial.py
antidas/migrations/0002_auto_20191217_0038.py
antidas/migrations/__pycache__/0001_initial.cpython-38.pyc
antidas/migrations/__pycache__/0002_auto_20191217_0038.cpython-38.pyc
/venv/
8.pyc
antida/__pycache__/settings.cpython-38.pyc
antida/__pycache__/urls.cpython-38.pyc
antida/__pycache__/wsgi.cpython-38.pyc
antidas/__pycache__/__init__.cpython-38.pyc
antidas/__pycache__/admin.cpython-38.pyc
antidas/__pycache__/apps.cpython-38.pyc
antidas/__pycache__/models.cpython-38.pyc
antidas/__pycache__/urls.cpython-38.pyc
antidas/__pycache__/views.cpython-38.pyc
antidas/migrations/__pycache__/__init__.cpython-38.pyc
antidas/migrations/0001_initial.py
antidas/migrations/0002_auto_20191217_0038.py
antidas/migrations/__pycache__/0001_initial.cpython-38.pyc
antidas/migrations/__pycache__/0002_auto_20191217_0038.cpython-38.pyc
/venv/
/bd/

antida/__pycache__/__init__.cpython-38.pyc
antidas/migrations/0001_initial.py
antidas/migrations/0003_auto_20191222_1218.py
antidas/migrations/0003_auto_20191222_1218.py
antidas/migrations/0001_initial.py
antidas/__pycache__/forms.cpython-38.pyc
antidas/migrations/__pycache__/0002_auto_20191223_1034.cpython-38.pyc
antidas/migrations/0002_auto_20191223_1034.py
antidas/__pycache__/forms.cpython-38.pyc
